<html>
<head>
</head>
<body>
 <!-- ###DOCUMENT### begin -->
	<div class="page">
		<div class="band header">	
			<header class="container main">		
				<div class="sixteen columns">				
					###LOGO###  ###METANAV### ###PHONE### 
				</div>				
			</header><!--end container-->			
		</div><!--end band-->			
		<div class="band navigation">	
			<nav class="container primary">		
				<div class="sixteen columns">
				<!-- ###MENU_TOP### begin -->
				<!-- main menu -->
				<!-- ###MENU_TOP### end -->			
				</div>
			</nav><!--end container-->			
		</div><!--end band-->			
			<div class="band chief">
            	<!-- ###MAIN_CONTENT### begin -->
            	<!-- TYPO3SEARCH_begin -->
				<div class="container">			
					<div class="sixteen columns">						
 						<!-- ###CONTENT_SIXTEEN### begin -->
 						<!-- above breadcrumb, where slide show is on start -->
 						<!-- ###CONTENT_SIXTEEN### end -->
					</div>						
					<div class="ten columns">					 
						<article>						
							<div class="three columns alpha thumbnail">							
								<!-- ###CONTENT_THREE###	begin -->
								<!-- vanishes on small displays -->
								<!-- ###CONTENT_THREE###	end -->
							</div><!--three-->												
                        	<div class="seven columns omega">							
								###BREADCRUMB###								
								<!-- ###CONTENT_SEVEN### begin -->
								<!-- always there -->											
								<!-- ###CONTENT_SEVEN### end -->													
							</div><!--seven-->								
							<hr />									
						</article><!--blog post-->						
						<nav class="pagination">						
						###PAGINATION###
						</nav><!--end pagination-->																	
					</div><!--end ten-->						
					<aside class="six columns">						
						<div class="sub subscribe clearfix">						
							<header>							
								<h4>###SUBSCRIBE_HEADER###</h4>							
							</header>							
							<div class="three columns alpha">							
								###SUBSCRIBE_THREE_RSS###							
							</div><!--end alpha-->							
							<div class="three columns omega">							
								###SUBSCRIBE_THREE_TWIT###							
							</div><!--end omega-->						
						</div><!--end sub subscribe-->							
						<div class="sub search">						
							<header>							
								<h4>###SEARCH_HEADER###</h4>							
							</header>	
						        ###SEARCHFORM###					
						</div><!--end sub search-->														
						<div class="sub news">						
							<header>							
								<h4>###NEWS_HEADER###</h4>							
							</header>							
							###NEWS###																
						</div><!--end sub news-->							
						<div class="sub sponsors clearfix">						
							<header>							
								<h4>###SPONSORS_HEADER###</h4>							
							</header>							
							###SPONSORS###
                                                </div><!--end sub sponsors-->						
					</aside><!--end six-->					
				</div><!--end container-->
				<!-- TYPO3SEARCH_end -->
				<!-- ###MAIN_CONTENT### end -->
			</div>			
		<div class="band footer">
		<!-- TYPO3SEARCH_begin -->	
			<footer class="container main">			
				<div class="four columns">				
					###FOOTER_L###			
				</div><!--end four-->			
				<div class="four columns">						
					<header>
						###HEADER_M###
					</header>					
					###FOOTER_M###					
				</div><!--end four-->			
				<div class="four columns">						
					<header>
						###HEADER_R###
					</header>						
					###FOOTER_R###						
				</div><!--end four-->		
				<div class="four columns">						
					<header>
						###HEADER_B###
					</header>				
					###FOOTER_B###							
				</div><!--end four-->					
			</footer><!-- container -->
			<!-- TYPO3SEARCH_end -->		
		</div><!--end band-->		
		<div class="band bottom">			
			<footer class="container">					
				<div class="eight columns first-credit">
					###COPYRIGHT###
				</div><!--end eight-->			
				<div class="eight columns last-credit">
					###POWERED### <br> ###LASTCHANGED###
				</div><!--end eight-->		
			</footer><!-- container -->		
		</div><!--end band-->
	</div><!--end page-->	
###PID### ###SCRIPT###
<!-- ###DOCUMENT### end -->
</body>
</html>